@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --header-title-color: #212121;
  --header-text-color: #757575;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --footer-title-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  /* для задания сетки в классы grid */
  --gap: 30px;
  --item: 1;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  background: var(--white-color);
  /* color: var(--primary-text-color); */
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* класс для задания сетки - родитель */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--gap) * -1);
  margin-left: calc(var(--gap) * -1);
}

/* класс для задания сетки - дети */
.grid-item {
  flex-basis: calc(100% / var(--item) - var(--gap));
  margin-top: var(--gap);
  margin-left: var(--gap);
}

.link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}

.section.half-padding-bottom {
  padding-bottom: 47px;
}

.half-padding-top {
  padding-top: 47px;
}

.item:nth-child(4) {
  background-color: #f5f4fa;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid blue; */
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo--dark {
  color: #000000;
}

.logo--light {
  color: var(--white-color);
}

.header {
  background-color: var(--white-color);
  border: solid #ececec;
  border-width: 0 0 1px 0;
}

.header--connection {
  margin-left: auto;
}

.main-nav,
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item:first-child {
  margin-left: 93px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-title-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

/* -------hover underline----- */
.site-nav__item {
  position: relative;
}

.site-nav__link--currant {
  color: var(--accent-color);
}

.site-nav__link--currant::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
}

.connection {
  display: flex;
}

.connection__item + .connection__item {
  margin-left: 30px;
}

.connection__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-text-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__link:hover, .connection__link:focus {
  color: var(--accent-color);
}

.connection__icon {
  margin-right: 10px;
  fill: var(--header-text-color);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__icon:hover, .connection__icon:focus {
  fill: var(--accent-color);
}

.connection__link:hover .connection__icon,
.connection__link:focus .connection__icon {
  fill: var(--accent-color);
}

.connection__icon--letter {
  display: flex;
  align-self: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.connection__icon--tel {
  width: 10px;
  height: 16px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background: #1473c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-overlay.jpg");
  color: var(--white-color);
  font-family: inherit;
  text-align: center;
}

.hero__block {
  padding: 200px 0;
}

.hero__title {
  margin: 0 auto;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

/* обычное решение с заданием каждому елементу */
/* .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features-list {
    display: flex;
  } */
/* вариант решения с помощью выноса классов grid */
/* добавлен класс grid в ul с классом directions*/
.features-list {
  --item:4;
}

/* общий код на оба варианта решения */
.features-list__title {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-list__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.features-list__item {
  width: 270px;
}

.features-list__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  /* outline: blue 0.1px solid; */
}

.features-list__wrap:last-child {
  margin-right: 0;
}

.features-list__icon {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  width: 70px;
  height: 70px;
  background-color: transparent;
}

/* обычное решение с заданием каждому елементу */
/* .directions {
  display: flex;
}
.directions__element {
  width: 370px;
  margin-right: 30px;
}
.directions__element:last-child {
  margin-right: 0;
} */
/* вариант решения с помощью выноса классов grid */
/* добавлен класс grid в ul с классом directions*/
.directions {
  --item:3;
}

.directions__element {
  position: relative;
}

.directions__hover {
  position: absolute;
  text-align: center;
  font-weight: 700;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
}

/* ------чистый блок social---------- */
.social {
  /* outline: orchid 0.1px solid; */
  display: flex;
  justify-content: center;
  width: 206px;
  height: 44px;
  padding: 0;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  /* outline: blue 0.1px solid; */
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  background-color: transparent;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--white-color);
}

.social__link--team {
  background-color: transparent;
}

.social__icon--team {
  fill: #afb1b8;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
  fill: var(--white-color);
}

/* обычное решение с заданием каждому елементу */
/* .team-list {
  display: flex;
}
.team-element {
  margin-right: 30px;
  justify-content: space-between;
}
.team-element:last-child {
  margin-right: 0;
}
 */
/* вариант решения с помощью выноса классов grid */
/* добавлен класс grid в ul с классом directions*/
.team-list {
  --item:4;
}

/* общий код на оба варианта решения */
.team-list__element {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__names {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list__jobs {
  margin-top: 10px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
}

/* блок ссылок в team */
.team-list__social {
  margin: 16px 32px 0 32px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients {
  display: flex;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: #afb1b8 1px solid;
  border-radius: 5%;
  transition: border, fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:last-child {
  margin-right: 0;
}

.clients:hover, .clients:focus {
  border: var(--accent-color) 0.1px solid;
}

.clients-set {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  /* background-color: transparent; */
  /* outline: blue 0.1px solid; */
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: transparent; */
}

.clients-set:hover .clients-icon,
.clients-set:focus .clients-icon {
  fill: var(--accent-color);
}

.footer {
  display: flex;
  background-color: var(--footer-background-color);
  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  height: 252px;
}

.footer .container {
  display: flex;
}

.footer-address {
  flex-shrink: 0;
  margin-right: 70px;
  margin-top: 60px;
}

.footer-address__address {
  margin-top: 20px;
}

/*---------чистый блок адрес ------ */
.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.address__link {
  color: var(--footer-text-color);
}

.address__link:hover {
  color: var(--footer-text-color);
}

.address__link-map {
  color: var(--white-color);
}

.address__link-map:hover {
  color: var(--white-color);
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

/* --------------------------------------- */
.footer-social {
  margin-top: 72px;
}

/* --------------------------------------- */
.slogan {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messangers__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

/* чтобы при наведении на кружок и мини-иконка тоже менял
  а цвет */
.messangers__icon--footer {
  fill: var(--white-color);
  background-color: transparent;
}

.messangers__link--footer:hover .messangers__icon--footer,
.messangers__link--footer:focus .messangers__icon--footer {
  fill: var(--white-color);
}

/* _______________________________ */
.subscribe {
  margin-top: 72px;
  margin-left: 93px;
}

/* -------чистый блок subscribe__wrap------- */
.subscribe__wrap {
  display: flex;
}

.subscribe__wrap input {
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
}

.subscribe__wrap input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  margin-left: 12px;
  display: flex;
  align-self: center;
}

.subscribe__icon {
  align-items: baseline;
  align-self: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-color);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover .subscribe__icon,
.button:focus .subscribe__icon {
  fill: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
}

.modal-close:hover {
  fill: var(--accent-color);
}

.close {
  width: 18px;
  height: 18px;
}

.modal-title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.form__field {
  /* position: relative; */
  margin-bottom: 10px;
  height: 58px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input {
  font-size: 16px;
  line-height: 1.15;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
}

.input-wrap {
  display: block;
  position: relative;
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  background-color: inherit;
}

.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon,
.form-input:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* -----------comment------------- */
.form__field--comment {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form__label--comment {
  font-size: 12px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__comment {
  margin-top: 4px;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*------------checkbox----------  */
.check__text {
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.check__link {
  color: var(--accent-color);
  background-color: var(--white-color);
  text-decoration: underline;
  margin-left: 5px;
}

.check__text span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-title-color);
  border-radius: 3px;
  background-repeat: no-repeat;
}

.check__icon {
  fill: var(--white-color);
}

.check__input:checked + .check__text span {
  background-color: var(--accent-color);
  border: none;
}

.modal__button {
  text-align: center;
}

.projects-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.projects-filter__button {
  margin-right: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--primary-title-color);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-filter__button:hover, .projects-filter__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ----------------projects view -- Portfolio ----------------*/
/* обычный вариант задать сетку: 
  все что ниже + почти весь код после закомента до конца раздела */
/* .section-projects {
    display: flex;
    flex-wrap: wrap;
  }
  .project__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .project__item img {
    display: block;
    width: 100%;
  }
  .project__link {
    display: block;
  }
  .project__item:nth-child(3n) {
    margin-right: 0px;
  }
  .project__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  } */
/* альтернатива с меньшим кодом, тогда в project__item задавать mardgin не надо
  .project__item:not(:nth-child(3n)) {
    margin-right: 0px;
  }
  .project__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 0px;
  } */
/* общие данные для обоих вариантов задания сетки */
.project__name {
  padding: 20px 0px 20px 24px;
  border: solid #eeeeee;
  border-width: 0 1px 1px 1px;
}

.project__title {
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.project__text {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.project__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*  решение через grid и часть параментов выше */
.section-projects {
  --item:3;
}

/* ------------hover сетки ------------ */
.project__wrap {
  position: relative;
  overflow: hidden;
}

.project__desctiption {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  letter-spacing: 0.03em;
  top: 0;
  padding: 63px 24px;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover .project__desctiption,
.project__item:focus .project__desctiption {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */