  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    @media screen and (min-width: 1200px) {
      margin-right: 0px;
    }
  }
  .clients {
    display: flex;
    margin-bottom: 30px;
    margin-left: 30px;
    width: calc( 100% / 2 - 30px);
    height: 92px;
    border: #afb1b8 1px solid;
    border-radius: 5%;
    transition: border, fill;
    transition-duration: 500ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: var(--accent-color) 0.1px solid;
    }
    @media screen and (min-width: 768px) {
      width: calc( 100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    &:last-child {
      margin-right: 0;
    }
  }
  }
 
  .clients-set {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    // width: 170px;
    height: 92px;
    /* background-color: transparent; */
  }
  .clients-icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
    /* background-color: transparent; */
    .clients-set:hover &,
    .clients-set:focus & {
      fill: var(--accent-color);
  }
  }
  // .clients-set:hover .clients-icon,
  // .clients-set:focus .clients-icon {
  //   fill: var(--accent-color);
  // }