
  /* обычное решение с заданием каждому елементу */
  /* .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features-list {
    display: flex;
  } */
  
  /* вариант решения с помощью выноса классов grid */
  /* добавлен класс grid в ul с классом directions*/
  .features-list {
    --item:1;
    @media screen and (min-width: 768px) {
      --item:2;
    }
    @media (min-width: 1200px) {
      --item:4;
    }
  }
  /* общий код на оба варианта решения */
  
  .features-list__item {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 + 30px);
    }
    @media screen and (min-width: 1200px) {
    width: 270px;
    }
  }

  .features-list__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
    border: transparent;
    /* outline: blue 0.1px solid; */
    &:last-child {
      margin-right: 0;
    }    
  }    
    .features-list__title {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }

  }
  .features-list__text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
  
  }
  .features-list__icon {
    // display: flex;
    // justify-content: center;
    // align-items: center; 
    width: 70px;
    height: 70px;
    background-color: transparent;
  }
  