.footer {
    display: flex;
    background-color: var(--footer-background-color);
    color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    height: 100%;
    @media screen and (min-width: 1200px) {
      height: 252px;
    }
   
  }
  .footer .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: left
      }
  }
  .wrap-tab {
    display: block; 
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 120px) {
      // display: block;
    }
  }

  .footer-address {
    text-align: center;
    flex-shrink: 0;
    margin-top: 60px;
    @media screen and (min-width: 768px) {
      margin-right: 165px;
        // margin-right: 70px;
        // margin-left: 76px;
    }
    @media screen and (min-width: 1200px){
        text-align: left;
        margin-right: 70px;
        // margin-left: 0px;
    }
  }
  .footer-address__address {
    margin-top: 20px;
  }
  /*---------чистый блок адрес ------ */

  .address__link {
    font-style: normal;
    @include font(14px, 1.71, 400, 0.03em);
    // font-weight: normal;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
  }
  .address__link {
    color: var(--footer-text-color);
    &:hover {
      color: var(--footer-text-color);
    }
  }
  
  .address__link-map{
    color: var(--white-color);
    &:hover  {
      color: var(--white-color);
    }
  }

  .address__item {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  /* --------------------------------------- */
  .footer-social {
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width: 768px) {
      // margin-right: 119px;
      text-align: left;
  }
    @media screen and (min-width: 1200px) {
      margin-right: 0px;
      margin-top: 72px;
      // margin-left: 70px;
  }
  }
  .social--footer {
    margin-left: auto;
    margin-right: auto;
  }
  /* --------------------------------------- */
  .slogan {
    text-align: center;
    margin-bottom: 20px;
    @include font(14px, 1.14, 700, 0.03em);
    @media screen and (min-width: 1200px)  {
      text-align: left;
    }
  }

  
  .messangers__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
  }
  /* чтобы при наведении на кружок и мини-иконка тоже менял
  а цвет */
  .messangers__icon--footer {
    fill: var(--white-color);
    background-color: transparent;
    .messangers__link--footer:hover &,
    .messangers__link--footer:focus & {
      fill: var(--white-color);
    }
  }
//   .messangers__link--footer:hover .messangers__icon--footer,
//   .messangers__link--footer:focus .messangers__icon--footer {
//     fill: var(--white-color);
//   }

  /* _______________________________ */
  .subscribe {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    @media screen and (min-width: 1200px)  {
      margin-top: 72px;
      margin-left: 93px;
      width: 570px;
    }
  }
  /* -------чистый блок subscribe__wrap------- */
  .subscribe__wrap {
    flex-wrap: wrap;
    justify-content: center;
    display: block;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: left;
      display: flex;
    }
  }
  .subscribe__wrap input {
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    &::placeholder {
      @include font(16px, 1.25, 400, 0.03em);
      color: rgba(255, 255, 255, 0.6);
    }
    @media screen and (min-width: 768px)  {
      width: 450px;
    }
    @media screen and (min-width: 1200px)  {
      width: 358px;
    }
  }
  // .subscribe__wrap input::placeholder {
  //   font-size: 16px;
  //   line-height: 1.25;
  //   align-items: center;
  //   letter-spacing: 0.03em;
  //   color: rgba(255, 255, 255, 0.6);
  // }
  .subscribe__button {
  
    margin-top: 20px;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: 12px;
    
    }



  }
  .subscribe__icon {
    align-items: baseline;
    align-self: center;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--white-color);
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
    .button:hover &,
    .button:focus & {
     fill: var(--white-color);
  }
  }
  // .button:hover .subscribe__icon,
  // .button:focus .subscribe__icon {
  //   fill: var(--white-color);
  // }
  
  
  
  