.header {
    position: relative;
    background-color: var(--white-color);
    border: solid #ececec;
    border-width: 0 0 1px 0;
    width: 100%;
}

//main-nav
//nav
//site-nav
//
.header--connection {
  margin-left: auto;
}
//connections

