
  .hero {
    margin-left: auto;
    margin-right: auto;
    // max-height: 400px;
    // max-width: 480px;
    // background-color: #c4c4c4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-color);
    font-family: inherit;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/overlay/overlay-mob-1x.jpg");
      
  }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
          background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("/images/overlay/overlay-mob-2x.jpg");
          }
      }
  
  
  @media ( min-width: 768px) {
    .hero {
          background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
           url("/images/overlay/overlay-tablet-1x.jpg");
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ), url("/images/overlay/overlay-tablet-2x.jpg");
          }
      }
    }

    @media ( min-width: 1200px) {
    .hero {
        max-width: 1600px;
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
           url("/images/overlay/overlay-desktop-1x.jpg");
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .hero {
      max-width: 1600px;
      background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
           url("/images/overlay/overlay-desktop-2x.jpg");
    }
  }







  }
  .hero__block {
    padding-top: 118px;
    padding-bottom: 118px;
    // width: 360px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
      

  }
  .hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 360px;

    @include font(26px, 1.6, 900, 0.06em);
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      max-width: 696px;
      @include font(44px, 1.36, 900, 0.06em);
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
