.logo-wrap {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  @include font(24px, 1.16, 700);
  text-decoration: none;
  color: var(--accent-color);
  @media screen and (min-width: 1200px) {
    @include font(26px, 1.19, 700);
  }
}
.logo--dark {
  color: #000000;
}
.logo--light {
  color: var(--white-color);
}