/* ------чистый блок social---------- */
.social {
    /* outline: orchid 0.1px solid; */
    display: flex;
    justify-content: center;

    width: 206px;
    height: 44px;
    padding: 0;
  }
  .social__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    margin-right: 10px;
    /* outline: blue 0.1px solid; */
    &:last-child {
      margin-right: 0;
    }
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    // background-color: transparent;
    border-radius: 50%;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }


  .social__icon {
    width: 20px;
    height: 20px;
    // fill: #afb1b8;
    background-color: transparent;
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
    .social__link:hover &,
    .social__link:focus & {
      fill: var(--white-color);
    }
  }
    // /* чтобы при наведении на кружок и мини-иконка тоже меняла цвет */
    // .social__link:hover .social__icon,
    // .social__link:focus .social__icon {
    //   fill: white;
    // }
    //------модификаторы для блока team и footer-----
  .social__link--team {
    background-color: transparent;
  }
  .social__icon--team {
    fill: #afb1b8;
  }
  .social__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social__icon--footer {
    fill: var(--white-color);
  }
 //---------------------------------------------------------
 
 .social-header {
   display: flex;
   margin-top: 64px;
   @media screen and (min-width: 768px) {
     display: none;
   }
 }
 .social-header__item {
   &:not(:last-child) {
     margin-right: 20px;
   }
 }
 .social-header__link {
  position: relative;
  color: var(--accent-color);
  @include font(18px, 1.22, 500, 0.02em);
 }
 .social-header__item:last-child > .social-header__link::after {
   display: none;
 }

 .social-header__link::after {
  position: absolute;
  display: inline-block;
  content: "";
  right: -20px;
  top: 10px;
  color: var(--accent-color);
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
 }

