:root {
    --accent-color: #2196f3;
    --white-color: #ffffff;
  
    --header-title-color: #212121;
    --header-text-color: #757575;
  
    --primary-text-color: #757575;
    --primary-title-color: #212121;
  
    --footer-title-color: #212121;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --footer-background-color: #2f303a;
    /* для задания сетки в классы grid */
    --gap: 30px;
    --item: 1;
  }
  